spring:
  h2:
    console:
      enabled: true
      path: /h2
      settings:
        web-allow-others: true
  datasource:
    url: jdbc:h2:mem:test
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
server:
  servlet:
    encoding:
      force-response: true
cloud:
  aws:
    s3:
      bucket: my-github-actions-s3-burket
    credentials:
      access-key: AKIATYK3GYSCFHHJCTAY
      secret-key: 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
    region:
      static: ap-northeast-2
      auto: false
    stack:
      auto: false
